.cards-graficos{
    display: flex;
    gap: 20px;
    overflow: hidden;
    max-height: 45vh;
    margin-bottom: 25px;

}
/*.container-title-graph{
position:absolute;

}*/

.graph-card {
    
    height: auto;
    max-height: 100%;
    overflow: hidden;
    width: 50%;
}

.row-graph{
    
    border-radius: var(--radius-lg);
    padding: 24px;
    /*box-shadow: var(--shadow-sm);*/
    border: 1px solid var(--color-border);
    margin-bottom: 24px;
    height: 100%;
    max-height: 156px;
    overflow: auto;
    width: 100%;
    
}